<div class="heading col-sm-12">
    <h1 class = "sub-title">
        The World Factbook --
    </h1>
    <h2 class="page-title">
        References
    </h2>
</div>

<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img class = "img" src="assets/wfb-feature-references.jpg/" class="img-fluid" alt="An image of iceburgs">
        </div>
        <div class="col-md-6">
            <h2 class="card-title">Guide to Country Profiles</h2>

            <div class="card-body">
                <p class="card-text">Take a look at the categories, fields,
                    and sub-fields of information generally recorded for each 
                    country.
                </p>
                <button class="wf-button fw-bold" type="button">EXPLORE</button>
            </div>
        </div>
    </div>
</div>

<div class = "learn-more row">
    <div class = "container flex col-lg-3">
        <h4>
            World Travel Facts
        </h4>
        <p class = "text">
            Travel more intelligently with the
            World Factbook Travel Facts. Here's what
            yiu shoukd know about each country before
            you go.
        </p>
        <a href="#" class="nav-link">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a> 
        
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            One-page Country Summaries
        </h4>
        <p class = "text">
            Pressed for time? Check out our one-page
            summaries for essential information
            on each country.
        </p>
        <a href="#" class="nav-link">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a>
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            Flags of the World
        </h4>
        <p class = "text">
            Each flag has a story. View flags of all the world's countries
            and territories to learn the symbolism behind
            each design.
        </p>
        <a href="#" class="nav-link">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a>
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            Country Comparisons
        </h4>
        <p class = "text">
            Love data? The World Factbook has over 65
            rank order pages that compare country data 
            in specific fields.
        </p>
        <a href="#" class="nav-link">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a>
    </div>
</div>
