.fm
{
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    font-weight: bold;
    margin-left: 0px;
}

.fm:hover
{
    background-color: red;
    color: white;
    font-weight: bold;
}