<nav class = "bg-light border-bottom">
    <button type = "button" class = "btn-btn-light fw-bold border-1 start-0">Go to CIA.gov</button>
</nav> 

<header class = "bg-dark border-bottom border-light">
    <div class = "container position-absolute text-white fw-bold">
        
        <button type = "button" class = "btn-btn-dark bg-dark text-white top-15 start-0">THE WORLD FACTBOOK</button>
        
        <button type = "button" class = "btn-btn-dark  bg-dark text-white fw-bold me-md-2 top-15 end-0" >Countries</button>
    
        <button type = "button" class = "btn-btn-dark bg-dark text-white fw-bold me-md-2 top-15 end-0">Maps</button>
        
        <button type = "button" class = "btn-btn-dark bg-dark text-white fw-bold me-md-2 top-15 end-0">References</button>
        
        <button type = "button" class = "btn-btn-dark bg-dark  text-white fw-bold me-md-2 top-15 end-0">About</button>
    </div>
</header>


