.navbar
{
    height: 40px;
}
.button
{
    width: 156px;
    height: 40px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.button:hover
{
    background-color: red;
    color: white;
    font-weight: bold;
}
