<div class = "bg-light">
    <button type = "button" class = "btn-btn-light fw-bold">Go to CIA.gov</button>
</div>

<p></p>
<div class = "bg-dark">
    <div class = "container">
        
        <p class = "bg-dark text-white fw-bold">THE WORLD FACTBOOK</p>
        
        <div class = "position-absolute top-15 end-0">
            <button type = "button" class = "btn-btn-dark  bg-dark text-white fw-bold me-md-2" >Countries</button>
        
            <button type = "button" class = "btn-btn-dark bg-dark text-white fw-bold me-md-2">Maps</button>
            
            <button type = "button" class = "btn-btn-dark bg-dark text-white fw-bold me-md-2">References</button>
            
            <button type = "button" class = "btn-btn-dark bg-dark  text-white fw-bold me-md-2">About</button>
        </div>
    </div>
</div>


