.wf-button
{
    background-color: black;
    color: white;
    outline: red;
}

.wf-button:hover
{
    background-color: black;
    color: white;
    outline: red;
    border-bottom-style: solid;
    border-color: red;
    border-bottom-width: 5px;
}
