<div class="container bg-dark text-white">
    <footer class="py-5">
        <div class="row">
            <div class="col-2">
                <h5>Agency</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About CIA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Organization</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Director of the CIA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CIA Museum</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News & Stories</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Careers</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Working at the CIA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How We Hire</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Student Programs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Browse CIA Jobs</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Freedom of Information Act
                            (FOIA)</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Center for the Study of
                            Intelligence (CSI)</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The World Factbook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Spy Kids</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="col-2 navbar-expand">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Search CIA.gov</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Site Policies</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Privacy</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">No FEAR Act</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Inspector General</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">USA.gov</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-white">Sitemap</a></li>
                </ul>
            </div>
        </div>

    </footer>
</div>