<div class="heading col-sm-12">
    <h1 class = "sub-title">
        The World Factbook --
    </h1>
    <h2 class="page-title">
        World
    </h2>
</div>

<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img class = "img" src="assets/world_night.jpg/" class="img-fluid" alt="An image of the island of Java">
        </div>
        <div class="col-md-6 content">
            <h2 class="card-title">Photos of World</h2>
            <div class="card-body">
                <button class="wf-button fw-bold" type="button">VIEW 21 PHOTOS</button>
            </div>
        </div>
    </div>
</div>