<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="assets/wfb-feature-world.jpg/" class="img-fluid" alt="An image of the world">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">What's New</h2>
                <p class="card-text">There are 195 independent countries in the World; amazingly, 80 of them (41% !)
                    have names beginning with one of only four letters (at least in the English language): B (18,
                    Bahamas to Burundi), C (18, Cambodia to Czechia), M (18, Macedonia to Mozambique), and S (24, Saint
                    Kitts and Nevis to Syria). All other letters except W and X begin the name of at least one country
                </p>
            </div>

            <button class="wf-button fw-bold" type="button" width="161" height="42">VIEW ALL UPDATES</button>

        </div>
    </div>
</div>