<div class="card mb-0">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="assets/wfb-feature-world.jpg/" class="img-fluid" alt="An image of the world">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">What's New</h2>
          <p class="card-text">Last week the uninhabited island of Hunga Tonga in the Tongan archipelago began to erupt. Located 65 km (40 mi) north of Tongatapu, Tonga’s main island, it is part of the highly active Tonga–Kermadec Islands volcanic arc in the South Pacific. The eruption caused damaging tsunamis along the entire rim of the Pacific Ocean but, fortunately, loss of life has been low. The explosion is the largest of the 21st century to date.</p>
        </div>
      </div>
    </div>
  </div>