.card
{
    background-color: black;
    color: white;
    height: 100%;
    border-width: 0px;
}
.card-title
{
    margin-left: 20px;
    font-family: "Sectra";
    font-weight: bold;
    color: white;
}

.card-text
{
    margin-left: 20px;
    font-size: 16px;
}

.img-fluid
{
    height: 100%;
}


.wf-button
{
    background-color: black;
    color: white;
    outline: red;
    text-align: center;
    position:absolute;
    margin-left: 35px;
}

.wf-button:hover
{
    background-color: black;
    color: white;
    outline: red;
    border-bottom-style: solid;
    border-color: red;
    border-bottom-width: 5px;
}