<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src = "{{img}}" class="img-fluid" alt="An image of the world">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{blurb}}</p>
            </div>

            <button class="wf-button fw-bold" type="button" width="161" height="42">VIEW ALL UPDATES</button>

        </div>
    </div>
</div>