.card
{
    background-color: black;
    color: white;
}
.card-title
{
    font-family: "Sectra";
    font-weight: bold;
    color: white;
}

.card-text
{
    font-size: 16px;
}


.wf-button
{
    background-color: black;
    color: white;
    outline: red;
    text-align: center;
}

.wf-button:hover
{
    background-color: black;
    color: white;
    outline: red;
    border-bottom-style: solid;
    border-color: red;
    border-bottom-width: 5px;
}