.card
{
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.card-body
{
    vertical-align: middle;
}

.card-title
{
    font-family: "Sectra";
    font-weight: bold;
    color: black;
    margin-top: 50px;
    margin-left: 20px;
}

.card-text
{
    font-size: 16px;
    margin-left: 20px;
}

.card-subtext
{
    font-size: 12px;
    margin-left: 20px;
}

.nav-link
{
    padding: 0px;
    text-align: center;
    width: 195px;
    margin-left: 32px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
}

.nav-link:hover
{
    color: white;
    background-color: red;
    text-decoration: none;
}

.search-bar
{
    height: 60px;
    width: 270px;
    margin-left: 20px;
    margin-right: 0px;
}

.search-bar:hover
{
    border-color: red;
    border-left-width: thick;
    border-right: none;
}

.search-bar:hover + .search-button
{
    border-color: red;
    border-left-color: palevioletred;
}

.search-button
{
    background-color: white;
    height: 61px;
    width: 60px;
}