.card
{
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: black;
}
.card-title
{
    font-family: "Sectra";
    font-weight: bold;
    color: black;
}

.card-text
{
    font-size: 16px;
}