<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="assets/explore-flags.jpg/" class="img-fluid" alt="An image of flags of the world">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">World and Regional Maps</h2>
                <p class="card-text">Your portal to a variety of world, regional, 
                            country, ocean and time zone maps.
                </p>

            </div>

            <button class="wf-button fw-bold" type="button">VIEW MAPS</button>

        </div>
    </div>
</div>