.nav-link
{
    background-color: black;
    color: white;
}

.navbar
{
    background-color: black;
}

.navbar-nav
{
    font-weight: 900;
}

.nav-item
{
    font-size: 19px;
}

.nav-item:hover
{
    border-bottom-style: solid;
    border-color: red;
    border-width: 5px; 
}

.nav-option
{
    margin-right: 1.875rem;
    margin-bottom: 0;
    justify-content: center;
    position: relative;
}

.nav-option:hover
{
    text-decoration-style: solid;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
}

.active
{
    color: red;
}

