
<nav class = "navbar bg-dark text-white fw-bold">
        <ul class = "navbar-nav">
            <li>
                <a href = "#">
                    THE WORLD FACTBOOK
                </a>   
            </li>

            <li>
                <a href = "#">
                    Countries
                </a>   
            </li>

            <li>
                <a href = "#">
                    Maps
                </a>   
            </li>

            <li>
                <a href = "#">
                    References
                </a>   
            </li>

            <li>
                <a href = "#">
                    About
                </a>   
            </li>
        </ul>
</nav>