<div class="heading col-sm-12">
    <h1 class = "sub-title">
        The World Factbook --
    </h1>
    <h2 class="page-title">
        About the World Factbook
    </h2>
</div>

<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <h2 class="card-title">Did You Know?</h2>
            <div class="card-body">
                <p class="card-text">The World Factbook presents the basic realities
                    about the world in which we live in and is one of the U.S. 
                    Government's most accessed publications.
                </p>
                <button class="wf-button fw-bold" type="button">LEARN MORE</button>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="card-title">Frequently Asked Questions</h2>
            <div class="card-body">
                <p class="card-text">Answers to additional questions you may have
                    about The World Factbook publication, its purpose, and content.
                </p>
                <button class="wf-button fw-bold" type="button">EXPLORE</button>
            </div>
        </div>
    </div>
</div>