.card
{
    height: 500px;
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.row
{
    border-left-style: solid;
    border-left-width: thin;
}

.heading
{
    background-color: black;
    height: 354px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-body
{
    vertical-align: middle;
    height: 500px;
    margin-left: 30px;
}

.sub-title
{
    margin-left: 33%;
    font-size: 24px;
    color: red;
    font-weight: bold;

}

.page-title
{
    position: relative;
    margin-left: 33%;
    font-size: 50px;
    font-family: "Sectra";
    font-weight: bold;
    color: white;
}

.card-title
{
    vertical-align: middle;
    font-family: "Sectra";
    font-weight: bold;
    color: black;
    margin-top: 50px;
    margin-left: 30px;
}

.card-text
{
    vertical-align: middle;
    font-size: 16px;
}

.card-subtext
{
    font-size: 12px;
    margin-left: 20px;
}


.wf-button
{
    height: 42px;
    width: 145px;
    color: black;
    background-color: white;
    outline: black;
    outline-width: thin;
}

.wf-button:hover
{
    color: black;
    outline: red;
    border-bottom-style: solid;
    border-color: red;
    border-bottom-width: 5px;
}

.learn-more
{
    height: 503px;
    background-color: #EFEFF3;
}

.container
{
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.h4
{
    font-size: 21px;
}

.text
{
    font-size: 16px;
    vertical-align: middle;
    padding-left: 15px;
    border-left: black;
    border-left-style: solid;
    border-left-width: thin;
}

.nav-link
{
    font-size: 18px;
    width: 155px;
    padding-left: 17px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
}

.nav-link:hover
{
    color: white;
    background-color: red;
    text-decoration: none;
}