.row
{
    height: 575px;
    background-color: #EFEFF3;
}

.container
{
    max-width: 287px;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.h4
{
    font-size: 21px;
}

.text
{
    font-size: 16px;
    vertical-align: middle;
    padding-left: 15px;
    border-left: black;
    border-left-style: solid;
    border-left-width: thin;
}

.nav-link
{
    font-size: 18px;
    width: 155px;
    padding-left: 17px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
}

.svg
{
    padding: 4px;
}

.nav-link:hover
{
    color: white;
    background-color: red;
    text-decoration: none;
}