.text
{
    color: black;
}

.hidden
{
    color: grey;
}

.text:hover
{
    background-color: red;
    color: white; 
}

.link
{
    margin-right: 0px;
    text-align: right;
    vertical-align: middle;
    color: black;
}

.link:hover
{
    background-color: red;
    color: white;
}

.row
{
    background-color: grey;
}