<wf-header>Loading...</wf-header>
<wf-second-header>Loading...</wf-second-header>

<!--
<div *ngFor="let infoCard of infoCards">
    <wf-infoCard1 img = {{infoCard.img}}>Loading...</wf-infoCard1>
</div>
-->

<wf-infoCard1>Loading...</wf-infoCard1>
<wf-infoCard2>Loading...</wf-infoCard2>

<!--
    The folloiwng repeats the geoCard but I 
    am yet to figure out how to get the internal 
    links to be different so I hope this suffices
    for the time being.
-->
<div *ngFor="let geoCard of geoCards">
    <wf-geoCard img = {{geoCard.img}} title = {{geoCard.title}}>
        Loading...
    </wf-geoCard>
</div>

<wf-footer>Loading...</wf-footer>