<!--
<wf-maps>Loading...</wf-maps>
<wf-africa>Loading...</wf-africa>
<wf-references>Loading...</wf-references>
<wf-about>Loading...</wf-about>
<wf-world-page>Loading...</wf-world-page>
-->

<wf-infoCard1>Loading...</wf-infoCard1>
<wf-infoCard2>Loading...</wf-infoCard2>

<!--
    The following repeats the geoCard but I 
    am yet to figure out how to get the internal 
    links to be different so I hope this suffices
    for the time being.
-->
<div *ngFor="let geoCard of geoCards">
    <wf-geoCard img = {{geoCard.img}} title = {{geoCard.title}}>
        Loading...
    </wf-geoCard>
</div>

