<!--
<wf-maps>Loading...</wf-maps>
<wf-africa>Loading...</wf-africa>
<wf-references>Loading...</wf-references>
<wf-about>Loading...</wf-about>
<wf-world-page>Loading...</wf-world-page>
-->

<wf-infoCard1>Loading...</wf-infoCard1>
<wf-infoCard2>Loading...</wf-infoCard2>

<!--
    The following repeats the geoCard but I 
    am yet to figure out how to get the internal 
    links to be different so I hope this suffices
    for the time being.
-->
<div *ngFor="let geoCard of geoCards">
    <wf-geoCard img = {{geoCard.img}} title = {{geoCard.title}}>
        Loading...
    </wf-geoCard>
</div>

<div class = "row">
    <div class = "container flex col-lg-3">
        <h4>
            World Travel Facts
        </h4>
        <p class = "text">
            Travel more intelligently with the
            World Factbook Travel Facts. Here's what
            yiu shoukd know about each country before
            you go.
        </p>
        <a href="#" class="nav-link">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></a> 
        
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            One-page Country Summaries
        </h4>
        <p class = "text">
            Pressed for time? Check out our one-page
            summaries for essential information
            on each country.
        </p>
        <a href="#" class="nav-link">Learn more</a>
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            Flags of the World
        </h4>
        <p class = "text">
            Each flag has a story. View flags of all the world's countries
            and territories to learn the symbolism behind
            each design.
        </p>
        <a href="#" class="nav-link">Learn more</a>
    </div>

    <div class = "container flex col-lg-3">
        <h4>
            Country Comparisons
        </h4>
        <p class = "text">
            Love data? The World Factbook has over 65
            rank order pages that compare country data 
            in specific fields.
        </p>
        <a href="#" class="nav-link">Learn more</a>
    </div>
    
</div>

