<!--
<wf-maps>Loading...</wf-maps>
<wf-africa>Loading...</wf-africa>
<wf-references>Loading...</wf-references>
<wf-about>Loading...</wf-about>
<wf-world-page>Loading...</wf-world-page>
-->

<wf-infoCard1>Loading...</wf-infoCard1>
<wf-infoCard2>Loading...</wf-infoCard2>

<!--
    The following repeats the geoCard but I 
    am yet to figure out how to get the internal 
    links to be different so I hope this suffices
    for the time being.
-->
<div *ngFor="let geoCard of geoCards">
    <wf-geoCard img = {{geoCard.img}} title = {{geoCard.title}}>
        Loading...
    </wf-geoCard>
</div>

<wf-learn-more>Loading...</wf-learn-more>

<div class="job card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src = "" class="img-fluid" alt="An image of a woman">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">
                    World Factbook Is Just the Start.
                    Apply For a Job at CIA.
                </h2>
                <p class="card-text">Curious about other cultures?
                    Want to use your knowledge to help keep America safe?
                    Make a career out of learning about the world.
            </div>

            <button class="wf-button fw-bold" type="button" width="168" height="42">BROWSE JOBS</button>

        </div>
    </div>
</div>



