<div class="job card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src = "assets/jobs-woman.png" class="img-fluid" alt="An image of a woman">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">
                    World Factbook Is Just the Start.
                    Apply For a Job at CIA.
                </h2>
                <p class="card-text">Curious about other cultures?
                    Want to use your knowledge to help keep America safe?
                    Make a career out of learning about the world.
            </div>

            <button class="wf-button fw-bold" type="button" width="168" height="42">BROWSE JOBS</button>

        </div>
    </div>
</div>