<div class = "container">
    <div class = "row">
        <div class = "col-8">
            <form #postForm = "ngForm" (ngSubmit)="addCard(postForm.value)">

                <div class = "input-group">
                    <span class = "input-group-text">
                        Image Path:
                    </span>
                    <input type = "text" class = "form-control" ngModel name = "img">
                </div>

                <div class = "input-group">
                    <span class = "input-group-text">
                        Title:
                    </span>
                    <input type = "text" class = "form-control" ngModel name = "title">
                </div>

                <div class = "input-group">
                    <span class = "input-group-text">
                        Text:
                    </span>
                    <input type = "text" class = "form-control" ngModel name = "content">
                </div>

                <button type = "submit" class = "btn btn-light">
                    Add Card
                </button>

            </form>
        </div>
    </div>
</div>
