<div class = "container">
    <div class = "row">
        <div class = "col-8">
            <form action = "">

                <div class = "input-group">
                    <span class = "input-group-text">
                        Image Path:
                    </span>
                </div>

                <div class = "input-group">
                    <span class = "input-group-text">
                        Title:
                    </span>
                </div>

                <div class = "input-group">
                    <span class = "input-group-text">
                        Text:
                    </span>
                </div>
                
            </form>
        </div>
    </div>
</div>
