.site-bg
{
    background-color: white;
}
.bi:hover
{
    fill: red;
    padding-bottom: 3px;
}

.heading
{
    background-color: black;
    height: 354px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.sub-title
{
    margin-left: 33%;
    font-size: 24px;
    color: red;
    font-weight: bold;

}

.card-title
{
    position: relative;
    margin-left: 33%;
    font-size: 50px;
    font-family: "Sectra";
    font-weight: bold;
    color: white;
}

.country-list
{
    color: black;
    font-weight: bold;
}

.container
{
    background-color: black;
}

.wf-button
{
    background-color: black;
    color: white;
    outline: red;
}

.wf-button:hover
{
    background-color: black;
    color: white;
    outline: red;
    border-bottom-style: solid;
    border-color: red;
    border-bottom-width: 5px;
}

.nav-item
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
}

.nav-item:hover
{
    background-color: red;
    text-decoration: none;
}
