<div class = "site-bg">
    <div class="heading col-sm-12">
        <h1 class = "sub-title">
            The World Factbook --
        </h1>
        <h2 class="card-title">
            Africa
        </h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="country-list">
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>

            </ul>
        </div>

        <div class="col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link">Country</a></li>
            </ul>
        </div>
    </div>
</div>