
<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src = {{img}} class="img-fluid" alt="An image of nature">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
            </div>
            <div class = "regions-list card-text">
                <a routerLink = "/world" href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">Africa</a>
                <a href="#" class="nav-link">Australia and Oceania</a>
                <a href="#" class="nav-link">Central America</a>
                <a href="#" class="nav-link">Central Asia</a>
                <a href="#" class="nav-link">East and Southeast Asia</a>
                <a href="#" class="nav-link">Europe</a>
                <a href="#" class="nav-link">Middle East</a>
                <a href="#" class="nav-link">North America</a>
                <a href="#" class="nav-link">South America</a>
                <a href="#" class="nav-link">South Asia</a>   
            </div>
        </div>
    </div>
</div>