<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src = {{img}} class="img-fluid" alt="An image of the desert">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
            </div>
            <div class = "regions-list card-text">
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
                <a href="#" class="nav-link">{{location}}</a>
            </div>
                

        </div>
    </div>
</div>