<div class="card mb-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="assets/wfb-feature-regions.jpg/" class="img-fluid" alt="An image of the world">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">The World & Its Regions</h2>
            </div>
            <div class = "regions-list card-text">
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">Africa</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">World</a>
            </div>
                

        </div>
    </div>
</div>